<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- MVC -->
    <context:component-scan base-package="ru.eliseev.charm.back.controller"/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <bean id="viewProvider" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- DataSource -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${app.datasource.url}"/>
        <property name="username" value="${app.datasource.username}"/>
        <property name="password" value="${app.datasource.password}"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="maximumPoolSize" value="20"/>
        <property name="connectionTestQuery" value="SELECT 1"/>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="redis://${app.redis.host}:${app.redis.port}/"/>
    </bean>

    <!-- Mappers -->
    <bean id="jsonMapper" class="ru.eliseev.charm.back.mapper.JsonMapper"/>
    <bean id="resultSetToProfileMapper" class="ru.eliseev.charm.back.mapper.ResultSetToProfileMapper"/>
    <bean id="resultSetToProfileSimpleDtoMapper" class="ru.eliseev.charm.back.mapper.ResultSetToProfileSimpleDtoMapper"/>
    <bean id="profileToProfileGetDtoMapper" class="ru.eliseev.charm.back.mapper.ProfileToProfileGetDtoMapper"/>
    <bean id="profileToUserDetailsMapper" class="ru.eliseev.charm.back.mapper.ProfileToUserDetailsMapper"/>
    <bean id="profileUpdateDtoToProfileMapper" class="ru.eliseev.charm.back.mapper.ProfileUpdateDtoToProfileMapper"/>
    <bean id="profileFullUpdateDtoToProfileMapper" class="ru.eliseev.charm.back.mapper.ProfileFullUpdateDtoToProfileMapper"/>
    <bean id="credentialsDtoToProfileMapper" class="ru.eliseev.charm.back.mapper.CredentialsDtoToProfileMapper"/>
    <bean id="requestToCharmDtoMapper" class="ru.eliseev.charm.back.mapper.RequestToCharmDtoMapper"/>
    <bean id="requestToCredentialsDtoMapper" class="ru.eliseev.charm.back.mapper.RequestToCredentialsDtoMapper"/>
    <bean id="requestToLoginDtoMapper" class="ru.eliseev.charm.back.mapper.RequestToLoginDtoMapper"/>
    <bean id="requestToProfileFilterMapper" class="ru.eliseev.charm.back.mapper.RequestToProfileFilterMapper"/>
    <bean id="requestToProfileUpdateDtoMapper" class="ru.eliseev.charm.back.mapper.RequestToProfileUpdateDtoMapper"/>
    <bean id="requestToProfileUpdateStatusDtoMapper" class="ru.eliseev.charm.back.mapper.RequestToProfileUpdateStatusDtoMapper"/>
    <bean id="requestToRegistrationDtoMapper" class="ru.eliseev.charm.back.mapper.RequestToRegistrationDtoMapper"/>
    <bean id="profileGetDtoToPdfMapper" class="ru.eliseev.charm.back.mapper.ProfileGetDtoToPdfMapper"/>

    <!-- DAOs -->
    <bean id="profileDao" class="ru.eliseev.charm.back.dao.ProfileDao">
        <property name="dataSource" ref="dataSource"/>
        <property name="profileMapper" ref="resultSetToProfileMapper"/>
        <property name="profileSimpleDtoMapper" ref="resultSetToProfileSimpleDtoMapper"/>
    </bean>

    <bean id="likeDao" class="ru.eliseev.charm.back.dao.LikeDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Services -->
    <bean id="wordBundleRu" class="ru.eliseev.charm.back.service.bundle.WordBundleRu"/>
    <bean id="wordBundleEn" class="ru.eliseev.charm.back.service.bundle.WordBundleEn"/>
    <bean id="contentService" class="ru.eliseev.charm.back.service.ContentService"/>

    <bean id="cacheService" class="ru.eliseev.charm.back.service.CacheService">
        <property name="jsonMapper" ref="jsonMapper"/>
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

    <bean id="profileService" class="ru.eliseev.charm.back.service.ProfileService">
        <property name="dao" ref="profileDao"/>
        <property name="contentService" ref="contentService"/>
        <property name="profileToProfileGetDtoMapper" ref="profileToProfileGetDtoMapper"/>
        <property name="profileToUserDetailsMapper" ref="profileToUserDetailsMapper"/>
        <property name="profileUpdateDtoToProfileMapper" ref="profileUpdateDtoToProfileMapper"/>
        <property name="profileFullUpdateDtoToProfileMapper" ref="profileFullUpdateDtoToProfileMapper"/>
        <property name="credentialsDtoToProfileMapper" ref="credentialsDtoToProfileMapper"/>
    </bean>

    <bean id="charmService" class="ru.eliseev.charm.back.service.CharmService">
        <property name="likeDao" ref="likeDao"/>
        <property name="profileDao" ref="profileDao"/>
        <property name="cacheService" ref="cacheService"/>
    </bean>

    <!-- Validators -->
    <bean id="credentialsValidator" class="ru.eliseev.charm.back.validator.CredentialsValidator">
        <property name="dao" ref="profileDao"/>
    </bean>

    <bean id="loginValidator" class="ru.eliseev.charm.back.validator.LoginValidator">
        <property name="dao" ref="profileDao"/>
    </bean>

    <bean id="profileFullUpdateValidator" class="ru.eliseev.charm.back.validator.ProfileFullUpdateValidator">
        <property name="dao" ref="profileDao"/>
    </bean>

    <bean id="profileUpdateValidator" class="ru.eliseev.charm.back.validator.ProfileUpdateValidator"/>

    <bean id="registrationValidator" class="ru.eliseev.charm.back.validator.RegistrationValidator">
        <property name="dao" ref="profileDao"/>
    </bean>

    <!-- Controllers -->
    <bean id="charmController" class="ru.eliseev.charm.back.controller.CharmController">
        <property name="service" ref="charmService"/>
        <property name="mapper" ref="requestToCharmDtoMapper"/>
    </bean>

    <bean id="contentController" class="ru.eliseev.charm.back.controller.ContentController">
        <property name="contentService" ref="contentService"/>
    </bean>

    <bean id="credentialsController" class="ru.eliseev.charm.back.controller.CredentialsController">
        <property name="service" ref="profileService"/>
        <property name="requestToCredentialsDtoMapper" ref="requestToCredentialsDtoMapper"/>
        <property name="credentialsValidator" ref="credentialsValidator"/>
    </bean>

    <bean id="languageController" class="ru.eliseev.charm.back.controller.LanguageController"/>

    <bean id="loginController" class="ru.eliseev.charm.back.controller.LoginController">
        <property name="service" ref="profileService"/>
        <property name="requestToLoginDtoMapper" ref="requestToLoginDtoMapper"/>
        <property name="loginValidator" ref="loginValidator"/>
    </bean>

    <bean id="logoutController" class="ru.eliseev.charm.back.controller.LogoutController"/>

    <bean id="matchesController" class="ru.eliseev.charm.back.controller.MatchesController">
        <property name="service" ref="profileService"/>
        <property name="requestToProfileFilterMapper" ref="requestToProfileFilterMapper"/>
    </bean>

    <bean id="profileController" class="ru.eliseev.charm.back.controller.ProfileController">
        <property name="service" ref="profileService"/>
        <property name="requestToProfileUpdateDtoMapper" ref="requestToProfileUpdateDtoMapper"/>
        <property name="profileGetDtoToPdfMapper" ref="profileGetDtoToPdfMapper"/>
        <property name="profileUpdateValidator" ref="profileUpdateValidator"/>
    </bean>

    <bean id="profilesController" class="ru.eliseev.charm.back.controller.ProfilesController">
        <property name="service" ref="profileService"/>
        <property name="updateMapper" ref="requestToProfileUpdateStatusDtoMapper"/>
        <property name="filterMapper" ref="requestToProfileFilterMapper"/>
    </bean>

    <bean id="registrationController" class="ru.eliseev.charm.back.controller.RegistrationController">
        <property name="service" ref="profileService"/>
        <property name="requestToRegistrationDtoMapper" ref="requestToRegistrationDtoMapper"/>
        <property name="registrationValidator" ref="registrationValidator"/>
    </bean>

    <!-- REST Controllers -->
    <bean id="charmRestController" class="ru.eliseev.charm.back.controller.rest.CharmRestController">
        <property name="service" ref="charmService"/>
        <property name="jsonMapper" ref="jsonMapper"/>
    </bean>

    <bean id="loginRestController" class="ru.eliseev.charm.back.controller.rest.LoginRestController">
        <property name="service" ref="profileService"/>
        <property name="loginValidator" ref="loginValidator"/>
        <property name="jsonMapper" ref="jsonMapper"/>
    </bean>

    <bean id="matchesRestController" class="ru.eliseev.charm.back.controller.rest.MatchesRestController">
        <property name="service" ref="profileService"/>
        <property name="requestToProfileFilterMapper" ref="requestToProfileFilterMapper"/>
        <property name="jsonMapper" ref="jsonMapper"/>
    </bean>

    <bean id="profileRestController" class="ru.eliseev.charm.back.controller.rest.ProfileRestController">
        <property name="service" ref="profileService"/>
        <property name="jsonMapper" ref="jsonMapper"/>
        <property name="profileFullUpdateValidator" ref="profileFullUpdateValidator"/>
        <property name="registrationValidator" ref="registrationValidator"/>
    </bean>

    <bean id="profilesRestController" class="ru.eliseev.charm.back.controller.rest.ProfilesRestController">
        <property name="service" ref="profileService"/>
        <property name="jsonMapper" ref="jsonMapper"/>
        <property name="requestToProfileFilterMapper" ref="requestToProfileFilterMapper"/>
    </bean>

</beans>